@{
    ViewBag.Title = "Home Page";
}

            <!DOCTYPE html>
            <html lang="en">
            <head>
                <title>StudyBuddy.</title>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
                <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
                <style>

                    p {
                        font-size: 14px;
                    }

                    .margin {
                        margin-bottom: 45px;
                    }

                    .bg-1 {
                        background-color: #4a8985; /* Green */
                        color: #ffffff;
                    }

                    .bg-3 {
                        background-color: #f5f5ef; /* White */
                        color: #555555;
                    }

                    .bg-4 {
                        background-color: #2f2f2f; /* Black Gray */
                        color: #fff;
                    }

                    .container-fluid {
                        padding-top: 70px;
                        padding-bottom: 70px;
                    }

                    .footer-fluid {
                        padding-top: 20px;
                        padding-bottom: 20px;
                    }
                </style>
            </head>
            <body>

                <!-- First Container -->
                <div class="container-fluid bg-1 text-center">
                    <img src="https://i.ibb.co/16bYMrZ/a-f.png" class="img-responsive img-circle margin" style="display:inline" alt="logo" width="300" height="300">
                    <h3><b>Connecting like-minded students together. </b></h3>
                </div>


                <!-- Third Container (Grid) -->
                <div class="container-fluid bg-3 text-center">
                    <div class="row">
                        <div class="col-sm-4">
                            <p><b>Create an educational profile.</b> </p>
                            <p>Begin your journey with us by creating a profile detailing your field of study and experience. </p>
                            <br />
                            <br />
                            <img src="https://www.flaticon.com/svg/static/icons/svg/3135/3135715.svg" class="img-responsive margin" style="display:inline" alt="Image" width="150" height="150">
                        </div>
                        <div class="col-sm-4">
                            <p><b> Connect with other students. </b></p>
                            <p> Find and connect with other students in your field of study and generate oppurtunities to further your education. </p>
                            <br />
                            <br />
                            <img src="https://www.flaticon.com/svg/static/icons/svg/3135/3135691.svg" class="img-responsive margin" style="display:inline" alt="Image" width="150" height="150" alt="Image">
                        </div>
                        <div class="col-sm-4">
                            <p><b> Arrange study meetings.</b></p>
                            <p> Arrange a time and place to study together with another member of our platform. </p>
                            <br />
                            <br />
                            <img src="https://www.flaticon.com/svg/static/icons/svg/3135/3135682.svg" class="img-responsive margin" style="display:inline" alt="Image" width="150" height="150">
                        </div>
                    </div>
                </div>

                <!-- Footer -->
                <footer class="footer-fluid bg-4 text-center">
                    <p>Bootstrap Theme taken from w3schools.com.</p>
                </footer>

            </body>
        </html>
